body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #f5fafe;
    overflow-x: hidden;
}

table {
    width: 80%;    
    border-collapse: collapse;
    text-decoration: none;
    background-color: white;
    border: black 3px solid;
    box-shadow: 5px 15px #eee;
    /* margin-bottom: 10%; */
    margin-left: 10%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px dashed #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

h3 {
    font-size: 1.5em;
    margin-left: 10%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.admin-table {
    cursor: pointer;
}

.admin-table:hover {
    background-color: #3B6FEE;
    color: #ddd;
}

.admin-description {
    min-height: 50px;
    max-height: 75px;
}

.admin-action-th {
    text-align: center;
}

.admin-actions {
    text-align: center;
    user-select: none;
}

.admin-actions:hover {
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(0, 1px); }
    50%  { transform: translate(0, -0px); }
    75%   { transform: translate(0, -1px); }
    100% { transform: translate(0,  0px); }
}

.admin-edit{
    color: #2255dd;
    animation: glow 1s ease-in-out infinite alternate;
}

.admin-edit:hover {
    color: blue;
}
  
.admin-delete {
    color: #cc5522;
}

.admin-delete:hover {
    color: red;
}

a {
    text-decoration: none;
}

.add-btn {
    border: dashed 1px blue;
    user-select: none;
    font-size: 1.3em;
    color: white;
    background: linear-gradient(to right, #3B6FEE, #1EB0BF);
    margin-left: 10%;
}

.add-btn:hover {
    border: dashed 3px blue;
    background: linear-gradient(to right, #1EB0BF, #3B6FEE);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 10px;
    width: 60%;
}

.form input {
    width: 50%;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 5px;
}

.form textarea {
    width: 90%;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 5px;
}

#postButton {
    width: 20%;
    cursor: pointer;
    font-size: 14px;
}

#postButton:hover {
    color: 333;
    background-color: #eef;
    
}

hr{
    width: 100%;
}

.custom-hr {
    width: 80%;
    margin-left: 10%;
    margin-top: 35px;
    border: 2px dotted gray;
}

.emptyMessage {
    margin-left: 10%;
}