body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #f5fafe;
    overflow-x: hidden;
}
table {
    width: 100%;    
    border-collapse: collapse;
    text-decoration: none;
    background-color: white;
    border: black 3px solid;
    box-shadow: 3px 15px #eee;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

/* tr {
    cursor: pointer;
} */

tr:hover {
    background-color: #f5f5f5;
}

.admin-table {
    cursor: pointer;
}

.admin-table:hover {
    background-color: #3B6FEE;
    color: #ddd;
}

.admin-description {
    min-height: 50px;
    max-height: 75px;
}

.admin-action-th {
    text-align: center;
}
.admin-actions {
    text-align: center;
}
.admin-actions:hover {
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(0, 1px); }
    50%  { transform: translate(0, -0px); }
    75%   { transform: translate(0, -1px); }
    100% { transform: translate(0,  0px); }
}

.admin-edit{
    color: #2255dd;
    animation: glow 1s ease-in-out infinite alternate;
}

.admin-edit:hover {
    color: blue;
}
  
.admin-delete {
    color: #cc5522;
}

.admin-delete:hover {
    color: red;
}

a {
    text-decoration: none;
}

.add-btn {
    border: solid 3px black;
    user-select: none;
    font-size: 1.3em;
    color: #eee;
    background-color: #2255dd;
}

.add-btn:hover {
    border: solid 1px blue;
    color: white;
    background-color: #1133aa;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 10px;
    width: 60%;
}

.form input {
    width: 50%;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 5px;
}

.form textarea {
    width: 90%;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 5px;
}

#postButton {
    width: 20%;
    cursor: pointer;
}

hr{
    width: 100%;
}