* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.top-right-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: 16px;
    margin-left: 91vw;
}

.login-button {
    background: linear-gradient(to right, #3B6FEE, #1EB0BF);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 24px;
}

.login-button:hover {
    background: linear-gradient(to right, #1EB0BF, #3B6FEE);
}

.shopping-cart {
    height: 70px;
    cursor: pointer;
}

.logo {
    height: 128px;
    width: auto;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 8px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items:hover {
    cursor: pointer;
}

.nav-item {
    padding: 0 8px;
}

.content {
    display: grid;
    flex-direction: column;
}

.background-image {
    position: relative;
}

.background-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.center-items {
    transform: translateY(-600px);
    justify-self: center;
}

.product-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
}

.product-card {
    transform: translateY(-500px);
    flex-basis: calc(33% - 16px);
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 16px;
}

.product-title {
    font-size: 19.2px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-description {
    font-size: 14.4px;
    margin-bottom: 16px;
}

.footer {
    transform: translateY(-33vh);
    background: linear-gradient(to right, #3B6FEE, #1EB0BF);
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    border-radius: 10px;
    height: 48px;
    width: auto;
    margin-right: 16px;
}

.check-product-button {
    margin-left: 16px;
    padding: 8px 16px;
    background-color: #20BBD1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.check-product-button:hover {
    background-color: #1EB0BF;
}