* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow-y: hidden;
}

.content {
    display: grid;
    flex-direction: column;
}

.background-image {
    position: relative;
}

.background-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.center-items {
    transform: translateY(-300%);
    justify-self: center;
}

.product-cards {
    transform: translateY(-85%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 16px;
}

.product-card {
    flex-basis: calc(33.33% - 16px);
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
}

.product-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 16px;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.check-product-button {
    margin-left: 16px;
    padding: 8px 16px;
    background-color: #20BBD1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.check-product-button:hover {
    background-color: #1EB0BF;
}
