* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.top-right-buttons {
    margin-right: 16px;
    margin-left: 47vw;
}

.top-button {
    margin-right: 8px;
}

.shopping-cart {
    height: 70px;
}

.logo {
    height: 128px;
    width: auto;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 8px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding: 0 8px;
}